.post-card {
  background-color: var(--base-3);
  width: 900px;
  padding: 20px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.post-header {
  display: flex;
  align-items: center;
}

.profile-picture {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.username {
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.date {
  font-size: 12px;
  color: var(--base-1);
}

.post-content {
  padding-top: 40px;
  padding-bottom: 40px;
}

.post-text {
  font-size: 24px;
}

.post-image {
  width: 100%;
  height: auto;
  margin-top: 10px;
}

.post__infos{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
}

.post__button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.comments-section{
  margin-top: 30px;
}

.comment-header {
  display: flex;
  align-items: center;
}


.comment__username{
  font-size: 16px;
  font-weight: bold;
}

.comment-content{
  padding-top: 20px;
  padding-bottom: 20px;
}

.comments__form{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;  
}

.comments__form-text{
  width: 100%;
  height: 150px;
  resize: none;
  padding: 15px;
  font-size: 14px;
  margin-bottom: 5px;
  border-radius: 5px;
  background: var(--base-2);
}